In [112]:
import pandas as pd 
import numpy as np

In [113]:
df = pd.read_csv("diabetes.csv")

In [114]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,NaN,33.6,0.627,50,1
1,1,85,66,29,NaN,26.6,0.351,31,0
2,8,183,64,0,0.0,23.3,0.672,32,1
3,1,89,66,23,94.0,28.1,0.167,21,0
4,0,137,40,35,168.0,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180.0,32.9,0.171,63,0
764,2,122,70,27,0.0,36.8,0.340,27,0
765,5,121,72,23,112.0,26.2,0.245,30,0
766,1,126,60,0,0.0,30.1,0.349,47,1
767,1,93,70,31,0.0,30.4,0.315,23,0

In [115]:
df.isnull()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,False,False,False,False,True,False,False,False,False
1,False,False,False,False,True,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
763,False,False,False,False,False,False,False,False,False
764,False,False,False,False,False,False,False,False,False
765,False,False,False,False,False,False,False,False,False
766,False,False,False,False,False,False,False,False,False
767,False,False,False,False,False,False,False,False,False

In [116]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,765.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,80.112418,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.361294,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,36.000000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,128.000000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [117]:
df.shape

(768, 9)

In [118]:
df.size

6912

In [119]:
print(df['Insulin'].mean())

80.1124183006536

In [120]:
df['Insulin'] = df['Insulin'].fillna(80.11) #4. Filling missing values

In [121]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,80.11,33.6,0.627,50,1
1,1,85,66,29,80.11,26.6,0.351,31,0
2,8,183,64,0,0.00,23.3,0.672,32,1
3,1,89,66,23,94.00,28.1,0.167,21,0
4,0,137,40,35,168.00,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180.00,32.9,0.171,63,0
764,2,122,70,27,0.00,36.8,0.340,27,0
765,5,121,72,23,112.00,26.2,0.245,30,0
766,1,126,60,0,0.00,30.1,0.349,47,1
767,1,93,70,31,0.00,30.4,0.315,23,0

In [122]:
df.dtypes

Pregnancies                   int64
Glucose                       int64
BloodPressure                 int64
SkinThickness                 int64
Insulin                     float64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                       int64
dtype: object

In [123]:
df['SkinThickness'] = df['SkinThickness'].astype(float) #No.5 Data Formatting

In [124]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35.0,80.11,33.6,0.627,50,1
1,1,85,66,29.0,80.11,26.6,0.351,31,0
2,8,183,64,0.0,0.00,23.3,0.672,32,1
3,1,89,66,23.0,94.00,28.1,0.167,21,0
4,0,137,40,35.0,168.00,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48.0,180.00,32.9,0.171,63,0
764,2,122,70,27.0,0.00,36.8,0.340,27,0
765,5,121,72,23.0,112.00,26.2,0.245,30,0
766,1,126,60,0.0,0.00,30.1,0.349,47,1
767,1,93,70,31.0,0.00,30.4,0.315,23,0

In [125]:
df.dtypes

Pregnancies                   int64
Glucose                       int64
BloodPressure                 int64
SkinThickness               float64
Insulin                     float64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                       int64
dtype: object

In [126]:
for column in df.columns:
    df['Insulin'] = df['Insulin']  / df['Insulin'].abs().max() #No.5 DataNormalisation

In [127]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35.0,0.094693,33.6,0.627,50,1
1,1,85,66,29.0,0.094693,26.6,0.351,31,0
2,8,183,64,0.0,0.000000,23.3,0.672,32,1
3,1,89,66,23.0,0.111111,28.1,0.167,21,0
4,0,137,40,35.0,0.198582,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48.0,0.212766,32.9,0.171,63,0
764,2,122,70,27.0,0.000000,36.8,0.340,27,0
765,5,121,72,23.0,0.132388,26.2,0.245,30,0
766,1,126,60,0.0,0.000000,30.1,0.349,47,1
767,1,93,70,31.0,0.000000,30.4,0.315,23,0

In [128]:
df['Glucose'] = np.where(df['Glucose'] > 125, 1, df['Glucose'])#N0.6

In [129]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,1,72,35.0,0.094693,33.6,0.627,50,1
1,1,85,66,29.0,0.094693,26.6,0.351,31,0
2,8,1,64,0.0,0.000000,23.3,0.672,32,1
3,1,89,66,23.0,0.111111,28.1,0.167,21,0
4,0,1,40,35.0,0.198582,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48.0,0.212766,32.9,0.171,63,0
764,2,122,70,27.0,0.000000,36.8,0.340,27,0
765,5,121,72,23.0,0.132388,26.2,0.245,30,0
766,1,1,60,0.0,0.000000,30.1,0.349,47,1
767,1,93,70,31.0,0.000000,30.4,0.315,23,0

In [130]:
df['Glucose'] = np.where(df['Glucose'] > 1, 0, df['Glucose'])

In [131]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,1,72,35.0,0.094693,33.6,0.627,50,1
1,1,0,66,29.0,0.094693,26.6,0.351,31,0
2,8,1,64,0.0,0.000000,23.3,0.672,32,1
3,1,0,66,23.0,0.111111,28.1,0.167,21,0
4,0,1,40,35.0,0.198582,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,0,76,48.0,0.212766,32.9,0.171,63,0
764,2,0,70,27.0,0.000000,36.8,0.340,27,0
765,5,0,72,23.0,0.132388,26.2,0.245,30,0
766,1,1,60,0.0,0.000000,30.1,0.349,47,1
767,1,0,70,31.0,0.000000,30.4,0.315,23,0